#margin-top{
    margin-top: 30px;
}
.slider p {
    color: gray;
}
.conainer{
    width: 80%;
}
button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}
.nav-item{
    padding-left: 25px;
}
.card-deck img {
width: 60%;
}
.card-body{
    text-align: center;
}
.card img{
    
    margin: 30px auto ;

}
.card p{
    color: gray;
}
.carousel-indicators li {
    background-color: hotpink;
}
.card{
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px  50px 	#F0F0F0	;
}
.laptop{
    margin-top: 100px;
}
.container h3{
    padding-bottom: 30px;
}
.card h5{
    padding: 10px 0px;
}



.decoration{
    margin-top: 100px;
}  
   
.shadow{
   padding: 50px;
    border-radius: 4px 20px 4px 20px;

    box-shadow: 2px 2px  100px 	#DCDCDC;
 

}
.shadow-reverse{
    padding: 50px;
    border-radius: 20px 4px 20px 4px;

    box-shadow: 2px 2px  100px 	#DCDCDC;
    margin-bottom: 40px;
}
.shadow img{
  margin-bottom: 20px;
}
#hursh-reality{
    margin-bottom: 0px;
}

.cat-parent{
   
   width: 100px;
   margin: 0 auto;
   margin-bottom: 80px;
   
}
.orange-line{
    height: 8px;
    background-color: orange;
    border-radius: 10px;
   margin: 0 auto;
    width: 100%;
    
}

